<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
</head>
<div class="modal-body">
    <div class="col-md-3" id="contact-profile">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h4>Current connection</h4>    
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <img id="user-icon" src="../images/userpic_elderly.png" class="img-responsive"/>
            </div>
            <div class="col-xs-8">
                <h3><strong><%= @user.name%></strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h4><strong>Bio:</strong></h4>
                <p><%= @user.bio%></p>
                <h4><strong>Gender:</strong> <%= @user.gender%></h4>
                <h4><strong>Knows:</strong></h4>
                <h4><strong>Learning:</strong></h4>
                <h4><strong>Skype:</strong></h4>
                <h4>
                    <div id="SkypeButton_Call">
                         <script type="text/javascript">
                             Skype.ui({
                             "name": "call",
                             "element": "SkypeButton_Call",
                             "participants": ["<%= @user.skypeusername%>"],
                             "imageSize": 32
                             });
                         </script>
                    </div>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <% if !Contact.find_by(:owner_id => current_user.id, :user_id => @user.id) %>
                    <%= button_to 'Add contact', contact_create_url(:owner_id => current_user.id, :user_id => @user.id), method: :post, :class => 'btn btn-default'%>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="conversation-content">
        <%= render partial: @activity %>
    </div>
    <div class="col-md-3" id="conversation-options">
        <h3>Start another activity</h3>
        <%= link_to render(partial: 'activities/activitysummary', :locals => {:activitytitle => "Themesort", :activityname => "themesort"}), main_main_url(:activity => "themesort", :user_id => @user.id), method: :get, :class => 'home_links' %>
        <%= link_to render(partial: 'activities/activitysummary', :locals => {:activitytitle => "Guessing", :activityname => "guessing"}), main_main_url(:activity => "guessing", :user_id => @user.id), method: :get, :class => 'home_links' %>
        <%= link_to render(partial: 'activities/activitysummary', :locals => {:activitytitle => "One Word", :activityname => "oneword"}), main_main_url(:activity => "oneword", :user_id => @user.id), method: :get, :class => 'home_links' %>    
    </div>
</div>