<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elang</title>
    <link href="/css/selection.css" rel="stylesheet">

  </head>
  <body id="body-content">
    <div class="modal-body">
      <div class="col-md-3 col-sm-12" id="user-contacts">
          <div class="row">
              <h2 class="col-md-12">My Contacts</h2>
          </div>
          <%= render partial: 'selection/contact', :locals => {:name => 'Willian OMaley'} %>
          <%= render partial: 'selection/contact', :locals => {:name => 'Mary Edwards'} %>
          <%= render partial: 'selection/contact', :locals => {:name => 'Katie Johnson'} %>
      </div>

      <div class="col-md-8 col-sm-12">
        <h2>Search new contacts</h2>
        <%= form_for :idiom,:method => :post  do |f| %>
          <div class="form-group">
            <h4>Language to practice</h4>
            <%= f.select :id, options_from_collection_for_select(Idiom.all, :id, :name)  %>
          </div>  
          <div class="form-group">  
            <button class="btn btn-default" type="submit">Search</button>
          </div>
        <% end %>  
        <div id="selection_selectionresults">
          <%= render partial: 'selection/selectionresults' %>
        </div>
      </div>
      
    </div>
    
  </body>

</html>
