
<div class="container">
  <div class="row">
    <h1>User Information</h1>
  </div>
  <div class="row" id="notice">
    <%= notice %>
  </div>
  <div class="row h4">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>
  
  <div class="row h4">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>
  
  <div class="row h4">
    <strong>Country:</strong>
    <%= Country.find(@user.country_id).name %>
  </div>
  
  <div class="row h4">
    <strong>Address:</strong>
    <%= @user.address %>
  </div>
  
  <%= link_to 'Edit', edit_user_registration_path(@user), :class => "btn btn-primary btn-lg" %>
  <%= link_to 'Home', index_index_url, :class => "btn btn-primary btn-lg" %>
</div>