<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idiom.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @idiom.Country %>
</p>

<%= link_to 'Edit', edit_idiom_path(@idiom) %> |
<%= link_to 'Back', idioms_path %>
